<div class="d-flex" id="wrapper" style="min-height: 100vh;">
    <!-- Sidebar-->
    <div class="border-end" id="sidebar-wrapper" style="background: #0D28A6;">
        <div class="sidebar-heading" style="background: #0D28A6; color: white;"><img src="./public/img/Rectangle 63.png" alt=""></div>
        <div class="list-group list-group-flush" style="background: #0D28A6;">
            <a class="list-group-item list-group-item-action list-group-item-light py-3 pe-3" style="background: #0D28A6; margin-left: -13px;" href="/dashboard"><img src="./public/img/Homenonactive.png" alt=""></a>
            <a class="list-group-item list-group-item-action list-group-item-light py-3 pe-3" style="background: #0D28A6; margin-left: -13px;" href="/listCarRent"><img src="./public/img/AdministratorActive.png" alt=""></a>
        </div>
    </div>
    <!-- Sidebar 2 -->
    <div class="border-end bg-white" id="sidebar-wrapper" style="min-width: 20%;">
        <div class="sidebar-heading border-bottom bg-light"><img src="./public/img/Rectangle 62.png" alt=""></div>
        <div class="list-group list-group-flush">
            <h1 class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" style="min-width: 368px;">Cars</h1>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/listCarRent" style="min-width: 100px;">List Cars</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="margin-top: 0.60%;">
            <div class="container-fluid">
                <button class="btn btn-primary"><img src="./public/img/fi_menu.png" alt=""></button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item"><form class="d-flex"><input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success me-3 fw-bold" type="submit">Search</button>
                          </form>
                        </li>
                            <li class="nav-item">
                                <div class="flex-shrink-0  dropdown">
                                    <a href="#"
                                        class="d-block d-flex flex-row justify-content-center align-items-center link-dark text-decoration-none dropdown-toggle me-2"
                                        id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="./public/img/Group 15.png" width="32" height="32" class="rounded-circle me-2">
                                        <p class="d-flex align-items-center justify-content-center me-2 text-md-center">Unis Badri</p>
                                    </a>
                                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                        <li><a class="dropdown-item" href="#">Log Out</a></li>    
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>