<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Test Modal</title>
</head>
<body>
    <div>
        <div class="h-50 w-100 d-flex justify-content-center">
            <img src="carModal.png" style="min-width: 10%; max-height: 10%;">
        </div>
        <div class="h-50 w-100 d-block justify-content-center">
            <h2><b>Menghapus Data Mobil</b></h2>
            <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
        </div>
        <div class="w-100 d-flex p-5">
        <div class="w-50 d-flex justify-content-end">
            <button type="button" class="btn btn-primary me-2">Yes</button>
        </div>
        <div class="w-50">
            <button type="button" class="btn btn-primary ms-2">No</button>
        </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="h-50 w-100 d-flex justify-content-center">
                        <img src="carModal.png" style="min-width: 10%; max-height: 10%;">
                    </div>
                    <div class="h-50 w-100 d-block justify-content-center">
                        <h2><b>Menghapus Data Mobil</b></h2>
                        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                    </div>
                    <div class="w-100 d-flex p-5">
                    <div class="w-50 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary me-2">Yes</button>
                    </div>
                    <div class="w-50">
                        <button type="button" class="btn btn-primary ms-2">No</button>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>
</html>